* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-background {
    width: 100vw;
    height: 100vh;
    background-image: url('plant2.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-item {
    display: flex;
    border: 2px solid #a3b18a;
    width: 70%;
    height: 70%;
    box-shadow: 7px 7px 5px rgba(52, 78, 65, 0.3);
    border-radius: 30px;
}

.sub-background {
    background-image: url('plant1.jpeg');
    background-size: cover;
    background-position: center;
    flex: 1;
    border-radius: 29px 0 0 29px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-background::before {
    content: "";

    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.sub-background p {
    color: #dad7cd;
    display: block;
    font-size: 60px;
    font-weight: bold;
    font-family: cursive;
}

.login-flex {
    flex: 1;
    background-color: #a3b18a;
    color: #3a5a40;
    border-radius: 0 29px 29px 0;
}

.log {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    font-family: cursive;
}

.input-container {
    position: relative;
    width: 250px;
    margin: 30px auto;
}

.input-container .icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #3a5a40;
}

.input-container #togglePassword {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.input-container input {
    width: 100%;
    height: 40px;
    padding-left: 45px;
    color: #3a5a40;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 5px rgba(52, 78, 65, 0.3);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {

    width: 100px;
    padding: 10px;
    background-color: #588157;
    color: #3a5a40;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    font-family: cursive;
}

button:hover {
    background-color: #a3b18a;
    color: #dad7cd;
    border: 2px solid #3a5a40;
    font-size: 15px;
    font-family: cursive;
}

@media (max-width: 768px) {
    .main-background .sub-background {
        width: 0px;
        height: 0px;
        flex: 0;
    }

    .main-background .sub-background p {
        color: transparent;
    }

    .main-background .login-flex {
        flex: auto;
        background-image: url(plant1.jpeg);
        border-radius: 29px;
    }

    .main-background .login-flex h2 {
        color: #a3b18a;
    }
}